.biweekly-main {
    @media screen and (max-width: 600px) {
        padding-left: calc(5vw + 2.5vw);
        padding-right: calc(5vw + 2.5vw);
    }

    > .page-heading {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }

        > .page-title {
            // text-align: center;    
            font-size: x-large;
            grid-column: 2;
        }
    }

    > .post-section {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }

        > .section-heading {
            grid-column: 2;
            margin-bottom: 1rem;

            > .section-title {    
                border-bottom: 1px solid black;
            }

            > .section-tag {
                > .tag-item {
                    display: inline-block;
                    font-size: smaller;
                    margin-right: 1em;

                    > .tag-link {
                        color: gray;

                        &:hover {
                            color: darkgray;
                        }
                    }
                }
            }
        }

        > .section-content {
            display: contents;

            > * {
                grid-column: 2;
            }

            > .wide {
                grid-column-start: 1;
                grid-column-end: -1;
            }

            > h1 {
                font-size: large;
                margin-bottom: 1rem;
            }

            > h2 {
                font-size: large;
                margin-bottom: 1rem;
            }

            p {
                line-height: 2em;
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                // border-radius: 20px;
            }

            iframe {
                width: 100%;
                min-height: 40vh;
                margin-bottom: 1rem;
            }

            ul {
                margin-left: 1em;
                line-height: 2em;

                > li {
                    margin-bottom: 1rem;
                }
            }

            ol {
                margin-top: unset;
                margin-left: 1em;
                margin-bottom: unset;
                line-height: 2em;

                > li {
                    margin-bottom: 1rem;
                }
            }

            table {
                margin-bottom: 1rem;
                
                th {
                    background-color: hsla(0, 0%, 88%, 1.0);
                    padding: 1em;
                }

                td {
                    background-color: hsla(0, 0%, 96%, 1.0);
                    padding: 1em;
                }
            }

            a {
                text-decoration: underline;
            }

            hr {
                border: 0;
                height: 1px;
            }

            code {
                background-color: hsla(0, 0%, 92%, 1.0);
                padding-left: 0.4em;
                padding-right: 0.4em;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                border-radius: 4px;
            }
        }
    }
}
