a {
    text-decoration: none;
    color: hsla(0, 0%, 20%, 1.0);
}

a:hover {
    color: hsla(0, 0%, 40%, 1.0);
}

h2 {
    text-align: justify;
    overflow-wrap: anywhere;
    word-break: break-all;
}

h3 {
    text-align: justify;
    overflow-wrap: anywhere;
    word-break: break-all;
}

p {
    text-align: justify;
    overflow-wrap: anywhere;
    word-break: break-all;
}

ol {
    margin: 2em 0 2em 2em;
}

dl {
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}

dt {
    font-weight: bold;

}

dd {
    text-align: justify;
}

code {
    font-family: 'Fira Code', monospace;
}

hr {
    margin: 1em auto 1em auto;
    border-color: hsla(0, 0%, 70%, 1.0);
    border-style: solid;
    border-width: thin;
    background-color: hsla(0, 0%, 70%, 1.0);
}

.google-auto-placed {
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: white;
}

.body-block {
    color: hsla(0, 0%, 10%, 1.0);
    font-family: sans-serif;
}

#page-container {
    > .header-container {
        position: sticky;
        top: -1em;
        padding-left: calc(((100vw - 1200px) / 2) + 1vw);
        padding-right: calc(((100vw - 1200px) / 2) + 1vw);

        @media screen and (max-width: 1200px) {
            padding-left: calc(((100vw - 900px) / 2) + 1vw);
            padding-right: calc(((100vw - 900px) / 2) + 1vw);
        }

        @media screen and (max-width: 900px) {
            padding-left: calc(((100vw - 800px) / 2) + 2.5vw);
            padding-right: calc(((100vw - 800px) / 2) + 2.5vw);
        }

        @media screen and (max-width: 800px) {
            padding-left: calc(((100vw - 600px) / 2) + 2.5vw);
            padding-right: calc(((100vw - 600px) / 2) + 2.5vw);
        }

        @media screen and (max-width: 600px) {
            padding-left: calc(5vw + 2.5vw);
            padding-right: calc(5vw + 2.5vw);
        }

        @media screen and (max-width: 400px) {
            padding-left: 5vw;
            padding-right: 5vw;
        }
    }

    > #nav-container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 1200px) {
            min-width: 900px;
            width: 90vw;
        }

        @media screen and (max-width: 900px) {
            min-width: 800px;
            width: 90vw;
        }

        @media screen and (max-width: 800px) {
            min-width: 600px;
            width: 90vw;
        }

        @media screen and (max-width: 600px) {
            width: 90vw;
            min-width: unset;
        }

        @media screen and (max-width: 400px) {
            display: none;
        }
    }

    > .google-auto-placed {
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 1200px !important;

        @media screen and (max-width: 1200px) {
            width: 900px !important;
        }

        @media screen and (max-width: 900px) {
            width: 800px !important;
        }

        @media screen and (max-width: 800px) {
            width: 600px !important;
        }
    }

    > .content-block {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        min-height: calc(100vh - 70px - 2em);

        @media screen and (max-width: 1200px) {
            width: 100vw;
        }

        @media screen and (max-width: 400px) {
            min-height: calc(100vh - 100px - 2em);
        }
    }

    > .footer-container {
        margin-top: 2em;
        min-height: 70px;

        @media screen and (max-width: 400px) {
            min-height: 100px;
        }
    }
}

.header-container {
    background-color: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(12px);
    padding-top: 1em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: end;
    z-index: 1;

    @media screen and (max-width: 400px) {
        align-items: center;
    }

    > .title {
        grid-column: 1;

        @media screen and (max-width: 300px) {
            font-size: large;
        }
    }

    > .menuanchor {
        display: none;

        @media screen and (max-width: 1200px) {
            display: none;
            text-align: center;
        }

        @media screen and (max-width: 400px) {
            display: unset;
            text-align: center;
        }

        > a {
            > .bi-list {
                width: 1.5em;
                height: 1.5em;
                vertical-align: middle;
            }
        }
    }

    > .social-links {
        grid-column: 2;
        grid-row: 1;

        @media screen and (max-width: 400px) {
            display: none;
        }
    }

    > .google-auto-placed {
        grid-column-start: 1;
        grid-column-end: -1;
        max-height: 90px;
    }
}

.social-links {
    text-align: right;

    > a > .button {
        border-radius: 16px;
        width: 24px;
        height: 24px;
        padding: 2px;
        background-color: hsla(0, 0%, 60%, 1.0);
    }

    > a > .button:hover {
        background-color: hsla(0, 0%, 50%, 1.0);
    }
}

#nav-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

#tag-list {
    margin-left: unset;

    > .item {
        display: inline-block;
        padding-left: 1vw;
        padding-right: 1vw;
        line-height: 2em;
    }
}

.content-block {
    > .article-list {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    > .content-article {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        margin-top: 1em;

        @media screen and (max-width: 1200px) {
            width: 900px;
        }

        @media screen and (max-width: 900px) {
            width: 800px;
        }

        @media screen and (max-width: 800px) {
            width: 600px;
        }

        @media screen and (max-width: 700px) {
            width: unset;
        }
    }

    .google-auto-placed {
        @media screen and (max-width: 600px) {
            // grid-column-start: unset;
        }
    }
}

.article-list {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, calc(400px - 2vw));
    gap: 2vw;
    padding-bottom: 1em;
    justify-content: center;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, calc(300px - 2vw));
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, calc(400px - 5vw));
        gap: 5vw;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, calc(300px - 5vw));
    }

    // @media screen and (max-width: 700px) {
    //     grid-template-columns: repeat(2, calc(200px - 5vw));
    // }

    @media screen and (max-width: 600px) {
        grid-template-columns: auto;
    }

    > .ad {
        grid-column-start: 1;
        grid-column-end: -1;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 600px) {
            width: 90vw;
        }
    }

    > .title-block{
        @media screen and (max-width: 600px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > .more-block {
        @media screen and (max-width: 900px) {
            grid-column-start: 1;
            grid-column-end: -1;
        }

        @media screen and (max-width: 600px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > .next-page {
        grid-column-start: 2;
        grid-column-end: 3;

        @media screen and (max-width: 900px) {
            grid-column-start: unset;
            grid-column-end: unset;
        }

        @media screen and (max-width: 600px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }


    > .paginator {
        grid-column-start: 1;
        grid-column-end: -1;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;

    }

    > .google-auto-placed {
        grid-column-start: 1;
        grid-column-end: -1;
        padding: 1em;
    }
}

.title-block {
    font-size: large;
    background-color: hsla(0, 0%, 90%, 1.0);
    padding: 1rem;

    @media screen and (max-width: 400px) {
        padding: 5vw;
    }

    .heading {
        text-shadow: none;
        font-weight: normal;
        background: linear-gradient(90deg, hsla(50, 100%, 30%, 1.0) 10%, hsla(100, 100%, 30%, 1.0) 20%);
        background-clip: text;
        -webkit-background-clip: text;
        // color: transparent;
    }

    .page {
        text-shadow: none;
        font-weight: lighter;
    }

}

.more-block {
    background-color: hsla(0, 0%, 90%, 1.0);

    > .link {
        color: hsla(0, 0%, 10%, 1.0) !important;
        text-shadow: none;

        &:hover {
            color: hsla(0, 0%, 20%, 1.0) !important;
        }

        > .heading {
            font-weight: normal;
            font-size: normal;
            height: 300px;
            padding: 1rem;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media screen and (max-width: 1200px) {
                height: 200px;
            }

            @media screen and (max-width: 900px) {
                height: unset;
                text-align: center;
                font-size: medium;
            }

            @media screen and (max-width: 400px) {
                padding: 5vw;
            }
        }
    }
}

.next-page {
    background-color: hsla(0, 0%, 90%, 1.0);

    > .link {
        color: hsla(0, 0%, 10%, 1.0) !important;
        text-shadow: none;

        &:hover {
            color: hsla(0, 0%, 20%, 1.0) !important;
        }

        > .heading {
            font-weight: normal;
            font-size: normal;
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media screen and (max-width: 900px) {
                height: 300px;
                text-align: right;
            }

            @media screen and (max-width: 800px) {
                height: 200px;
            }

            @media screen and (max-width: 600px) {
                height: unset;
                text-align: center;
                font-size: medium;
            }
        }
    }
}

.article-block {
    border-radius: 4px;
    text-shadow: 0px 0px 2px hsla(0, 0%, 0%, 1.0);

    > .link {
        color: hsla(0, 0%, 90%, 1.0);
        display: grid;

        &:hover {
            color: hsla(0, 0%, 100%, 1.0);
        }
    }

    > .link > .image {
        grid-row: 1;
        grid-column: 1;
        width: calc(400px - 2vw);
        height: 300px;
        object-fit: cover;
        background-color: hsla(0, 0%, 90%, 1.0);
        border-radius: 4px;

        @media screen and (max-width: 1200px) {
            width: calc(300px - 2vw);
            height: 200px;
        }

        @media screen and (max-width: 900px) {
            width: calc(400px - 5vw);
            height: 300px;
        }

        @media screen and (max-width: 800px) {
            width: calc(300px - 5vw);
            height: 200px;
        }

        @media screen and (max-width: 600px) {
            width: 90vw;
            height: 90vw;
            margin: auto;
        }
    }

    > .link > .content {
        grid-row: 1;
        grid-column: 1;
        width: calc(400px - 2vw);
        height: 300px;
        margin: 0 auto 0 auto;
        padding: 1em;
        background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.7) 0%, hsla(0, 0%, 0%, 0.1) 100%);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media screen and (max-width: 1200px) {
            width: calc(300px - 2vw);
            height: 200px;
        }

        @media screen and (max-width: 900px) {
            width: calc(400px - 5vw);
            height: 300px;
        }

        @media screen and (max-width: 800px) {
            width: calc(300px - 5vw);
            height: 200px;
        }

        @media screen and (max-width: 600px) {
            width: 90vw;
            height: 90vw;
        }

        @media screen and (max-width: 400px) {
            padding: 5vw;
        }

        > .heading {
            font-size: medium;

            @media screen and (max-width: 200px) {
                font-size: small;
            }
        }

        > .description {
            font-size: small;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.paginator {
    display: grid;
    grid-template-columns: repeat(5, 32px);
    gap: 1vw;
    place-content: center;

    > .link {
        text-align: center;
        background-color: hsla(0, 0%, 90%, 1.0);
        border-radius: 4px;
        font-variant: tabular-nums;
        height: 32px;

        &.-highlight {
            background-color: hsla(0, 0%, 80%, 1.0);
        }

        > .number {
            vertical-align: middle;
            line-height: 32px;;
        }
    }

    > .link:hover {
        background-color: hsla(0, 0%, 70%, 1.0);
    }
}

.article-meta {
    font-size: small;
}

.content-article {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vw;

    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 2fr;
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: auto;
    }

    > .ad {
        grid-column-start: 1;
        grid-column-end: -1;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

        @media screen and (max-width: 600px) {
            width: 90vw;
        }

        @media screen and (max-width: 500px) {
            width: unset;
        }
    }

    > .article-aside {
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 700px) {
            width: 90vw;
        }

        @media screen and (max-width: 300px) {
            width: unset;
        }
    }

    > .article-container {
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 700px) {
            width: 90vw;
        }
    }
}

.article-aside {
    padding: 2em 2em 0 2em;
    background-color: hsla(0, 0%, 90%, 1.0);
    border-radius: 4px;
    text-align: justify;

    @media screen and (max-width: 800px) {
        padding-bottom: 2em;
        margin-bottom: 2em;
    }

    @media screen and (max-width: 400px) {
        padding: 5vw;
        border-radius: unset;
    }

    > .heading {
        font-size: x-large;
        padding: 0 0 1em 0;
        overflow-wrap: anywhere;
        word-break: break-all;

        @media screen and (max-width: 200px) {
            font-size: large;
        }
    }

    > .description {
        font-size: large;

        @media screen and (max-width: 200px) {
            font-size: medium;
        }
    }
}

.article-action-block {
    > .addtoany-block {
        margin: 1em auto 1em auto;
    }
}

.addtoany-block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;

    @media screen and (max-width: 200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    > a > .button {
        border-radius: 4px;
        width: 100%;
        height: 32px;
        background-color: hsla(0, 0%, 60%, 1.0);

        @media screen and (max-width: 900px) {
            height: 24px;
        }
    }

    > a > .button:hover {
        background-color: hsla(0, 0%, 50%, 1.0);
    }
}

.article-container {
    padding: 0 1em 0 1em;

    @media screen and (max-width: 800px) {
        padding: unset;
    }

    > .article-content {
        margin-bottom: 2em;
    }

    > .comment {
        margin-top: 2em;
    }
}

.article-content {
    a {
        text-decoration: underline;
    }

    > h1 {
        font-size: xx-large;
        padding-bottom: 1em;
        overflow-wrap: anywhere;
        word-break: break-all;

        @media screen and (max-width: 400px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
            font-size: large;
        }
    }

    > h2 {
        padding: 1em 0 1em 0;

        @media screen and (max-width: 400px) {
            // width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > h3 {
        padding: 1em 0 1em 0;

        @media screen and (max-width: 400px) {
            // width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > p {
        line-height: 2em;
        padding-bottom: 1em;

        @media screen and (max-width: 400px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }

        > code {
            background-color: hsla(0, 0%, 90%, 1.0);
            padding: 0.2em;
            border-radius: 4px;
        }
    }

    > blockquote {
        border-left: 2px solid hsla(0, 0%, 10%, 1.0);
        margin-left: 1em;
        padding-left: 1em;
        margin-bottom: 1em;

        @media screen and (max-width: 400px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    > dl {
        @media screen and (max-width: 400px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        > dd {
            > code {
                background-color: hsla(0, 0%, 90%, 1.0);
                padding: 0.2em;
                border-radius: 4px;
            }
        }
    }

    > ul {
        padding-left: 2em;
        text-align: justify;
        line-height: 2em;

        @media screen and (max-width: 400px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        > li {
            overflow-wrap: anywhere;
            word-break: break-all;

            > code {
                background-color: hsla(0, 0%, 90%, 1.0);
                padding: 0.2em;
                border-radius: 4px;
            }
        }
    }

    > ol {
        @media screen and (max-width: 400px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        > li {
            overflow-wrap: anywhere;
            word-break: break-all;

            > code {
                background-color: hsla(0, 0%, 90%, 1.0);
                padding: 0.2em;
                border-radius: 4px;
            }
        }
    }

    > pre {
        padding: 1em;
        overflow-x: auto;
        width: 600px;
        font-size: small;
        box-shadow: 0 10px 30px -10px hsla(221, 16%, 20%, 1.0);
        border-radius: 4px;
        margin-bottom: 1em;

        @media screen and (max-width: 400px) {
            width: 100vw;
            padding: 5vw;
            border-radius: 0;
        }
    }

    > hr {
        width: 60%;
    }

    img {
        width: 100%;
        border-radius: 4px;

        @media screen and (max-width: 400px) {
            width: 100vw;
            margin-left: -5vw;
            border-radius: 0;
        }
    }

    > iframe {
        width: 100%;
        height: 40vw;
        margin-bottom: 1em;
        border-radius: 4px;

        @media screen and (max-width: 400px) {
            width: 100vw;
            height: 80vw;
            border-radius: 0;
        }
    }

    > table {
        margin: 1em;
        width: 90%;
        font-size: small;

        @media screen and (max-width: 400px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }
    }

    > table th {
        background-color: hsla(0, 0%, 80%, 1.0);
        padding: 1em;
    }

    > table td {
        background-color: hsla(0, 0%, 90%, 1.0);
        padding: 1em;
    }

    > .google-auto-placed {
        margin-top: 2em;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        border-top: 1px solid hsla(0, 0%, 90%, 1.0);
        border-bottom: 1px solid hsla(0, 0%, 90%, 1.0);
    }
}

.comment {
    > hr {
        width: 90%;
    }

    > .utterances {
        @media screen and (max-width: 400px) {
            width: 90vw;
        }
    }
}

.footer-container {
    background-color: hsla(0, 0%, 90%, 1.0);
    padding: 1em calc(((100vw - 1200px) / 2) + 1vw) 1em calc(((100vw - 1200px) / 2) + 1vw);
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    justify-content: space-between;
    font-size: small;
    align-items: end;
    gap: 1em;

    @media screen and (max-width: 1200px) {
        padding-left: calc(((100vw - 900px) / 2) + 1vw);
        padding-right: calc(((100vw - 900px) / 2) + 1vw);
    }

    @media screen and (max-width: 900px) {
        padding-left: calc(((100vw - 800px) / 2) + 1vw);
        padding-right: calc(((100vw - 800px) / 2) + 1vw);
    }

    @media screen and (max-width: 800px) {
        padding-left: calc(((100vw - 600px) / 2) + 1vw);
        padding-right: calc(((100vw - 600px) / 2) + 1vw);
    }

    @media screen and (max-width: 600px) {
        padding-left: calc(5vw + 1vw);
        padding-right: calc(5vw + 1vw);
    }

    @media screen and (max-width: 400px) {
        grid-template-columns: auto;
        justify-content: unset;
    }

    > .social-links {
        display: none;
        text-align: center;

        @media screen and (max-width: 400px) {
            grid-column-start: 1;
            grid-column-end: -1;
            display: unset;
        }
    }

    > .copyright {
        @media screen and (max-width: 600px) {
            grid-row-start: unset;
            text-align: center;
            margin-left: unset;
        }
    }

    > .press {
        color: hsla(0, 0%, 60%, 1.0);
        text-align: right;

        @media screen and (max-width: 400px) {
            grid-row-start: unset;
            text-align: center;
        }

        > span {
            > .link {
                color: hsla(0, 0%, 50%, 1.0);
                font-weight: bold;
            }

            > .link:hover {
                color: hsla(0, 0%, 40%, 1.0);
            }
        }
    }
}
