{% extends "_base.html" %}

{% block title %}{{ term.name }} | {{ config.title }}{% endblock title %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ term.name | title }} | {{ config.title }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ term.name | title }} | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ term.permalink | safe }}">
<meta property="og:image" content="/favicon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block page_heading %}
<h1 class="title">
  <a href="/">{{ config.title }}</a>
</h1>
{% endblock page_heading %}

{% block content %}
  <main class="article-list">
    <div class="ad">
      {% block ad1 %}
      {% endblock ad1 %}
    </div>
    <article class="article-block title-block">
      <h2 class="heading">
        {{ term.name }}
      </h2>
      <aside class="page">
        Page {{ paginator.current_index }} / {{ paginator.number_pagers }}
      </aside>
    </article>
    {% for post in paginator.pages %}
      {{ macros::article_block(post=post) }}
    {% endfor %}

    <div class="ad">
      {% block ad2 %}
      {% endblock ad2 %}
    </div>

    <article class="article-block next-page">
      <a href="{{ paginator.next | safe }}"  class="link">
        <h2 class="heading">
          Next
        </h2>
      </a>
    </article>
    {{ macros::paginator_block() }}
  </main>
{% endblock content %}
