{% extends "_base.html" %}

{% block title %}
  {{ section.title }} | {{ config.title }}
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="/biweekly.css">
{% endblock style %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ section.title }} | {{ config.title }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ section.title }} | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ section.permalink | safe }}">
<meta property="og:image" content="/favicon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block page_heading %}
<h1 class="title">
  <a href="/">{{ config.title }}</a>
</h1>
{% endblock page_heading %}

{% block content %}
<main class="biweekly-main">
  <section class="page-heading">
    <h1 class="page-title">
      {{ section.title }}
    </h1>
  </section>
  {% for post in paginator.pages %}
    <section class="post-section">
      <div class="section-heading">
        <h2 class="section-title">
          {{ post.title }}
        </h2>
        <ul class="section-tag">
          {% for tag in post.taxonomies.tags %}
            {% set tag_url = get_taxonomy_url(kind="tags", name=tag) %}
            <li class="tag-item"><a href="{{ tag_url }}" class="tag-link">#{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="section-content">
        {{ post.content | safe }}
      </div>
    </section>
  {% endfor %}
</main>  
  
  {# <pre style="font-size: xx-small; 
              height: 50vh; 
              overflow: auto; l
              padding-top: 1em; 
              padding-bottom: 1em; 
              margin-top: 1em; 
              margin-bottom: 1em;
              grid-column-start: 1;
              grid-column-end: -1;
              background-color: hsla(0, 0%, 90%, 1.0);">
    <code>
      {{ __tera_context }}
    </code>
  </pre> #}
{% endblock content %}
