{% extends "_base.html" %}

{% block title %}{{ config.title }}{% endblock title %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ config.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.base_url | safe }}">
<meta property="og:image" content="/favicon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block content %}
  <main class="article-list">
    <div class="ad">
      {% block ad1 %}
      {% endblock ad1 %}
    </div>
    {%- if lang == config.default_language %}
      {% set post_section = get_section(path="post/_index.md") %}
    {%- else %}
      {% set path = "post/_index." ~ lang ~ ".md" %}
      {% set post_section = get_section(path=path) %}
    {% endif %}
    {% for post in post_section.pages | slice(end=8) %}
      {{ macros::article_block(post=post) }}
    {% endfor %}

    {% if post_section.pages | length > 11 %}
      <article class="article-block more-block">
        <a href="{{ post_section.permalink | safe }}page/2"  class="link">
          <h2 class="heading">
            MORE...
          </h2>
        </a>
      </article>
    {% endif %}

    <div class="ad">
      {% block ad2 %}
      {% endblock ad2 %}
    </div>

  </main>
  {# <pre style="font-size: xx-small; 
              height: 50vh; 
              overflow: auto; 
              padding-top: 1em; 
              padding-bottom: 1em; 
              margin-top: 1em; 
              margin-bottom: 1em;
              grid-column-start: 1;
              grid-column-end: -1;
              background-color: hsla(0, 0%, 90%, 1.0);">
    <code>
      {{ __tera_context }}
    </code>
  </pre> #}
{% endblock content %}
