{% extends "_base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ section.title | title }} | {{ config.title }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ section.title | title }} | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ section.permalink | safe }}">
<meta property="og:image" content="/favicon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block page_heading %}
<h1 class="title">
  <a href="/">{{ config.title }}</a>
</h1>
{% endblock page_heading %}

{% block content %}
  <main class="article-list">
    <div class="ad">
      {% block ad1 %}
      {% endblock ad1 %}
    </div>
    <article class="article-block title-block">
      <h2 class="heading">
        {{ section.title }}
      </h2>
      <aside class="page">
        Page {{ paginator.current_index }} / {{ paginator.number_pagers }}
      </aside>
    </article>
    {% for post in paginator.pages %}
      {{ macros::article_block(post=post) }}
    {% endfor %}
    <article class="article-block next-page">
      <a href="{{ paginator.next | safe }}"  class="link">
        <h2 class="heading">
          Next
        </h2>
      </a>
    </article>

    <div class="ad">
      {% block ad2 %}
      {% endblock ad2 %}
    </div>

    {{ macros::paginator_block() }}
  </main>
  {# <pre style="font-size: xx-small; 
              height: 50vh; 
              overflow: auto; l
              padding-top: 1em; 
              padding-bottom: 1em; 
              margin-top: 1em; 
              margin-bottom: 1em;
              grid-column-start: 1;
              grid-column-end: -1;
              background-color: hsla(0, 0%, 90%, 1.0);">
    <code>
      {{ __tera_context }}
    </code>
  </pre> #}
{% endblock content %}
